.dialogbox {
    /* Dialog box / Delete confirmation */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px;

    position: relative;
    width: 387px;
    height: 333px;

    background: #FFFFFF;
    /* Shadow/Low */

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.frame16 {
    /* Frame 16 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 323px;
    height: 36px;
    left: 32px;
    top: 273px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

.Frame88 {
    /* Frame 88 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 323px;
    height: 80px;
    left: 32px;
    top: 169px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

.img-BeepBeep {
    /* img-BeepBeep */


    position: static;
    width: 153px;
    height: 121px;
    left: 117px;
    top: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}

.Card {
    /* Card */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;

    position: relative;
    width: 351px;
    height: 446px;

    background: #FFFFFF;
    /* Shadow/Low */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.CarsEditCar {
    /* Cars/Edit Car */


    position: relative;
    width: 1440px;
    height: 901px;

    background: #F4F5F7;
}

.header {
    /* Header / Default */


    position: absolute;
    width: 1370px;
    height: 70px;
    left: 70px;
    top: 0px;
}

.Navbar {
    /* Navbar / Home */


    position: absolute;
    width: 290px;
    height: 902px;
    left: 0px;
    top: -1px;
}

.Button {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    width: 56px;
    height: 36px;
    left: 401px;
    top: 825px;

    /* Primary/DarkBlue/01 */

    background: #CFD4ED;
    border-radius: 2px;
}

.Button1 {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    width: 69px;
    height: 36px;
    left: 315px;
    top: 825px;

    /* Neutral/10 */

    background: #FFFFFF;
    /* Primary/DarkBlue/04 */

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}

.Form {
    /* Form */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    position: absolute;
    width: 1100px;
    height: 242px;
    left: 315px;
    top: 193px;

    background: #FFFFFF;
    border-radius: 2px;
}

.Form {
    /* Form */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    position: absolute;
    width: 1100px;
    height: 242px;
    left: 315px;
    top: 193px;

    background: #FFFFFF;
    border-radius: 2px;
}

.breadcrumb {
    /* breadcrumb */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 244px;
    height: 18px;
    left: 315px;
    top: 102px;
}

.Carss {
    /* Cars/Add New Car */


    position: relative;
    width: 1440px;
    height: 901px;

    background: #F4F5F7;
}

.Headerr {
    /* Header / Default */


    position: absolute;
    width: 1370px;
    height: 70px;
    left: 70px;
    top: 0px;
}

.Navbarr {
    /* Navbar / Home */


    position: absolute;
    width: 290px;
    height: 902px;
    left: 0px;
    top: -1px;
}

.Button2 {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    width: 56px;
    height: 36px;
    left: 401px;
    top: 825px;

    /* Primary/DarkBlue/04 */

    background: #0D28A6;
    border-radius: 2px;
}

.Button3 {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    width: 69px;
    height: 36px;
    left: 315px;
    top: 825px;

    /* Neutral/10 */

    background: #FFFFFF;
    /* Primary/DarkBlue/04 */

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}

.Form2 {
    /* Form */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    position: absolute;
    width: 1100px;
    height: 242px;
    left: 315px;
    top: 193px;

    background: #FFFFFF;
    border-radius: 2px;
}

.breadcrumb {
    /* breadcrumb */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 188px;
    height: 18px;
    left: 315px;
    top: 102px;

}

.Carssuccessdelete {
    /* Cars/success delete */


    position: relative;
    width: 1440px;
    height: 1492px;

    background: #F4F5F7;
}

.Carsmodaldeleteconfirmation {
    /* Cars/modal delete confirmation */


    position: relative;
    width: 1440px;
    height: 1492px;

    background: #F4F5F7;
}

.Carssuccesssaving {
    /* Cars/success saving */


    position: relative;
    width: 1440px;
    height: 1492px;

    background: #F4F5F7;
}

.Carsss {
/* Cars */


position: relative;
width: 1440px;
height: 1492px;

background: #F4F5F7;
}