
/* Header Nav */
.li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0x;
    position: absolute;
    width: 340px;
    height: 360px;
    left: 864px;
    top: 240px;
    background-color: #0D28A6;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #FFFFFF;
  }
  
  .active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    width: 71px;
    height: 34px;
    left: 1150px;
    top: 35px;
    background: #5CB85F;
    border-radius: 2px;
    flex: none;
    order: 4;
    flex-grow: 0;
    margin-left: 0px;
    color: #FFFFFF
  }
  
  .active1 {
    background-color: #0D28A6;
    position: absolute;
    width: 100px;
    height: 34px;
    left: 50px;
    top: 45px;
  }
  
  ul {
    list-style-type: none;
    margin: 10;
    margin-right: 150px;
    margin-top: 30px;
    padding: 0;
  }
  
  li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  li {
    font-family:Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  /* Sewa & Rental Mobil Terbaik di kawasan (Lokasimu) */

    
  .btext {
    position: absolute;
    width: 568px;
    height: 108px;
    left: 50px;
    top: 177px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    color: #000000;
  }

  /* Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam. */
  
  .Selamat {
    position: absolute;
    width: 468px;
    height: 60px;
    left: 0px;
    top: 150px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
  .but {
    left: -215px;
    position: absolute;
    top: 230px;
  }
  
  /* Button */
  /* Auto layout */
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    width: 100px;
    height: 36px;
    left: 0px;
    top: 300px;
    background: #5CB85F;
    border-radius: 2px;
    border-style: none;
    color: #FFFFFF;
  }
  
  
  /* bg */
  .blue {
    position: absolute;
    width: 1287px;
    height: 528px;
    left: -24px;
    top: 0px;
    background: #F1F3FF;
  }
  
  .mobil {
    position: absolute;
    width: 100px;
    height: 107px;
    left: 658px;
    top: 150px;
    z-index: 1;
  }
  
  /* bg */
  .mobilbiru {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 684px;
    top: 327px;
  }
  
  .tengah {
    position: absolute;
    height: 72px;
    left: 720px;
    right: 0px;
    top: 620px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
  }
  
  .tengahh {
    position: absolute;
    width: 255px;
    height: 20px;
    left: 700px;
    top: 650px;
  }
  .tengah1 {
    position: absolute;
    width: 255px;
    height: 20px;
    left: 40px;
    top: 190px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
  }
  
  .tengah2 {
    position: absolute;
    width: 247px;
    height: 20px;
    left: 40px;
    top: 230px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
  }
  
  .tengah3 {
    position: absolute;
    width: 247px;
    height: 20px;
    left: 40px;
    top: 270px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
  }
  
  .tengah4 {
    position: absolute;
    width: 247px;
    height: 20px;
    left: 40px;
    top: 310px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
  }
  
  .tengah5 {
    position: absolute;
    width: 247px;
    height: 20px;
    left: 40px;
    top: 350px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
  }
  
  .bi1 {
    position: absolute;
    left: 22px;
    top: 193px; 
  }
  
  .bi2 {
    position: absolute;
    left: 22px;
    top: 231px; 
  }
  
  .bi3 {
    position: absolute;
    left: 22px;
    top: 273px; 
  }
  
  .bi4 {
    position: absolute;
    left: 22px;
    top: 308px; 
  }
  
  .bi5 {
    position: absolute;
    left: 22px;
    top: 350px; 
  }
  
  .Ellipse19 {
    position: absolute;
    width: 33px;
    height: 333px;
    left: -560px;
    top: -80px;
  }
  
  .Ellipse20 {
    position: absolute;
    width: 33px;
    height: 333px;
    left: -490px;
    top: 300px;
  }
  
  .Ellipse21 {
    position: absolute;
    width: 33px;
    height: 333px;
    left: -120px;
    top: 0px;
  }
  
  .Group47 {
    position: absolute;
    left: -450px;
    top: -40px;
  }
  
  .Sewa {
    position: absolute;
    width: 468px;
    height: 60px;
    left: 20px;
    right: 0px;
    top: 90px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Why {
    position: absolute;
    height: 108px;
    left: 50px;
    right: 10px;
    top: 1160px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 36px;
    color: #000000;
  }
  
  .Mengapa {
    position: absolute;
    width: 468px;
    height: 20px;
    left: 0px;
    top: 74px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
  
  .Mobill {
    position: absolute;
    width: 333px;
    height: 24px;
    left: 80px;
    top: 1320px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Tersedia {
    position: static;
    width: 240px;
    height: 60px;
    left: 29px;
    top: 112px;
    
    /* Body/14/Light */
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Hargam {
    /* Harga Murah */
  
  
    position: absolute;
    width: 240px;
    height: 24px;
    left: 349px;
    top: 1320px;
  
    /* Title/16/Bold */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Harga {
    position: static;
    width: 220px;
    height: 60px;
    left: 24px;
    top: 112px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    /* or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Layanan24 {
    position: absolute;
    width: 184px;
    height: 19px;
    left: 630px;
    top: 1320px;
  
    /* Title/16/Bold */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Siap {
    position: static;
    width: 250px;
    height: 60px;
    left: 24px;
    top: 112px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    /* or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Sopir {
    /* Sopir Profesional */
  
  
    position: absolute;
    width: 203px;
    height: 24px;
    left: 950px;
    top: 1320px;
  
    /* Title/16/Bold */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Sopirr {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 0px;
    top: 20px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    /* or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Testi {
    position: absolute;
    height: 36px;
    left: 520px;
    top: 1540px;
  
    /* Heading/24/Bold */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 36px;
    /* identical to box height, or 150% */
  
    text-align: center;
  
    color: #000000;
  }
  
  .Berb {
    position: absolute;
    width: 468px;
    height: 20px;
    left: -170px;
    top: 52px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
    text-align: center;
  
    color: #000000;
  }
  
  .icon_complete {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 78px;
    top: 1270px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .icon_price {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 350px;
    top: 1270px;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .icon_24hrs {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 630px;
    top: 1270px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .icon_professional {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 950px;
    top: 1270px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Sewam {
    position: absolute;
    width: 613px;
    height: 54px;
    left: 306px;
    top: 2642px;
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 54px */
  
    text-align: center;
    z-index: 2;
    /* Neutral/10 */
  
    color: #FFFFFF;
  }
  
  .Lorem {
    position: absolute;
    width: 468px;
    height: 40px;
    left: 75px;
    top: 72px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
  
    text-align: center;
    z-index: 2;
    /* Neutral/10 */
  
    color: #FFFFFF;
  }
  
  .button {
    position: absolute;
    width: 116px;
    height: 30px;
    left: 252px;
    top: 168px;
  
    /* Body/14/Bold */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    /* Neutral/10 */
  
    color: #FFFFFF;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  
    z-index: 2;
  }
  
  .Rectangle73 {
    position: absolute;
    left: 196px;
    top: 2608px;
  
    /* Primary/DarkBlue/04 */
  
    background: #0D28A6;
    border-radius: 13px;
  }
  
  .FAQ {
    position: absolute;
    height: 126px;
    left: 200px;
    right: 65%;
    top: 2908px;
  
    /* Heading/24/Bold */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 150% */
  
  
    color: #000000;
  }
  
  .Loremm {
    position: absolute;
    width: 368px;
    height: 20px;
    left: 0px;
    top: 50px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  }
  
  .Jalan {
    position: absolute;
    width: 268px;
    height: 40px;
    left: 200px;
    top: 3300px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
  
  
    color: #000000;
  }
  
  .binar {
    position: absolute;
    width: 268px;
    height: 20px;
    left: 200px;
    top: 3350px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  }
  
  .hp {
    position: absolute;
    width: 268px;
    height: 20px;
    left: 200px;
    top: 3385px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  }
  
  .Our {
    position: absolute;
    width: 79px;
    height: 20px;
    left: 500px;
    top: 3285px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
  
  }
  
  .Whyy {
    position: absolute;
    width: 50px;
    height: 20px;
    left: 500px;
    top: 3320px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Tes {
    position: absolute;
    width: 71px;
    height: 20px;
    left: 500px;
    top: 3355px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .FA {
    position: absolute;
    width: 29px;
    height: 20px;
    left: 503px;
    top: 3390px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .conw {
    position: absolute;
    width: 199px;
    height: 20px;
    left: 670px;
    top: 3300px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  }
  
  .containermt-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 300px;
    height: 400px;
    left: 670px;
    top: 3330px;
    flex: none;
  }
  
  .Copyright {
    position: absolute;
    width: 128px;
    height: 20px;
    left: 1033px;
    top: 3295px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  }
  
  .Rectangle74 {
    position: absolute;
    width: 100px;
    height: 34px;
    left: 1035px;
    top: 3330px;
  
    background: #0D28A6;
  }
  
  .testii {
    position: absolute;
    left: 0px;
    top: 1752px;
  }
  
  .testii1 {
    /* Left button */
    position: absolute;
    width: 32px;
    height: 32px;
    left: 550px;
    top: 2000px;
  }
  
  .testii2 {
    /* Left button */
    position: absolute;
    width: 32px;
    height: 32px;
    left: 650px;
    top: 2000px;
  }
  
  .listfaq {
    /* list faq */
  
  
    /* Auto layout */
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    top: 3000px;
    left: 685px;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    top: 2;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #5CB85F;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
