/* Header Nav */
.li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0x;
    position: absolute;
    width: 340px;
    height: 360px;
    left: 864px;
    top: 240px;
    background-color: #0D28A6;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #FFFFFF;
  }
  
  .active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    width: 71px;
    height: 34px;
    left: 1150px;
    top: 35px;
    background: #5CB85F;
    border-radius: 2px;
    flex: none;
    order: 4;
    flex-grow: 0;
    margin-left: 0px;
    color: #FFFFFF
  }
  
  .active1 {
    background-color: #0D28A6;
    position: absolute;
    width: 100px;
    height: 34px;
    left: 50px;
    top: 45px;
  }
  
  ul {
    list-style-type: none;
    margin: 10;
    margin-right: 150px;
    margin-top: 30px;
    padding: 0;
  }
  
  li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  li {
    font-family:Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  /* Sewa & Rental Mobil Terbaik di kawasan (Lokasimu) */
  .btext {
    position: absolute;
    width: 568px;
    height: 108px;
    left: 50px;
    top: 177px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    color: #000000;
  }
  /* Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam. */
  
  .Selamat {
    position: absolute;
    width: 468px;
    height: 60px;
    left: 0px;
    top: 150px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
  .but {
    left: -215px;
    position: absolute;
    top: 230px;
  }
  
  /* Button */
  /* Auto layout */
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    width: 100px;
    height: 36px;
    left: 0px;
    top: 300px;
    background: #5CB85F;
    border-radius: 2px;
    border-style: none;
    color: #FFFFFF;
  }
  
  
  /* bg */
  .blue {
    position: absolute;
    width: 1287px;
    height: 528px;
    left: -24px;
    top: 0px;
    background: #F1F3FF;
  }
  
  .mobil {
    position: absolute;
    width: 100px;
    height: 107px;
    left: 658px;
    top: 150px;
    z-index: 1;
  }
  
  /* bg */
  .mobilbiru {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 684px;
    top: 327px;
  }
  
  .button {
    position: absolute;
    width: 116px;
    height: 30px;
    left: 252px;
    top: 168px;
  
    /* Body/14/Bold */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    /* Neutral/10 */
  
    color: #FFFFFF;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  
    z-index: 2;
  }
  
  .Jalan {
    position: absolute;
    width: 268px;
    height: 40px;
    left: 200px;
    top: 3300px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
  
  
    color: #000000;
  }
  
  .binar {
    position: absolute;
    width: 268px;
    height: 20px;
    left: 200px;
    top: 3350px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  }
  
  .hp {
    position: absolute;
    width: 268px;
    height: 20px;
    left: 200px;
    top: 3385px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  }
  
  .Our {
    position: absolute;
    width: 79px;
    height: 20px;
    left: 500px;
    top: 3285px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
  
  }
  
  .Whyy {
    position: absolute;
    width: 50px;
    height: 20px;
    left: 500px;
    top: 3320px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .Tes {
    position: absolute;
    width: 71px;
    height: 20px;
    left: 500px;
    top: 3355px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .FA {
    position: absolute;
    width: 29px;
    height: 20px;
    left: 503px;
    top: 3390px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 16px 0px;
  }
  
  .conw {
    position: absolute;
    width: 199px;
    height: 20px;
    left: 670px;
    top: 3300px;
  
    /* Body/14/Regular */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  }
  
  .containermt-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 300px;
    height: 400px;
    left: 670px;
    top: 3330px;
    flex: none;
  }
  
  .Copyright {
    position: absolute;
    width: 128px;
    height: 20px;
    left: 1033px;
    top: 3295px;
  
    /* Body/14/Light */
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
  
    color: #000000;
  
  }
  
  .Rectangle74 {
    position: absolute;
    width: 100px;
    height: 34px;
    left: 1035px;
    top: 3330px;
  
    background: #0D28A6;
  }

/* Vector */
.Rectangle76 {
position: absolute;
left: 15%;
right: 25%;
top: 85.5%;
bottom: 37.5%;
}

/* Frame 1 */


/* Auto layout */

.row {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: absolute;
font-size: 12px;
margin-left: 30px;
left: 130px;
top: 520px;
width: 500px;
height: 100px;
font-family: 'Helvetica';
}

.butt {
  left: -435px;
  position: absolute;
  top: 220px;
}

/* Button */
/* Auto layout */
.buttonn {
  display: flex;
  flex-direction: row;
  font-family: 'Helvetica';
  font-size: 14px;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  position: absolute;
  width: 100px;
  height: 36px;
  left: 1250px;
  top: 300px;
  background: #5CB85F;
  border-radius: 2px;
  border-style: none;
  color: #FFFFFF;
}